# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CLUSTER_NAME: https://tcc-01.th1.proen.cloud/api/

jobs:
  build-docker-image:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./javascript # Here the path to the folder where package-lock.json is located.
    strategy:
      matrix:
        node-version: [14.x]
    #    node-version: [14.x, 16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: pwd 0
      run: pwd
    #- name: Use Node.js ${{ matrix.node-version }}
    #  uses: actions/setup-node@v3
    #  with:
    #    node-version: ${{ matrix.node-version }}
    #    cache: 'npm'
    #    cache-dependency-path: javascript/package.json
    #- name: run npm commands
    #  run: | 
    #    pwd
    #    npm install
    #    npm run build --if-present
    #    npm test

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: ./javascript
        push: true
        tags: anonja/nodejs-api-ci:latest
    - name: Connect K8s
      run: |
        kubectl config set-cluster tcc-01 --server=${{ env.CLUSTER_NAME }} 
        kubectl config set-context tcc-01 --cluster=tcc-01
        kubectl config set-credentials tcc-01-user --token=${{ secrets.TCC01_TOKEN }}
        kubectl config set-context tcc-01 --user=tcc-01-user
        kubectl config use-context tcc-01
    - name: Check CLUSTER_NAME
      run: |
        kubectl cluster-info
        kubectl apply -f javascript/manifest/deployment.yaml -n group-1